.actions {
    margin-bottom: 0;
}

.navbar {
    border-radius: 0;
}

body {
    background-image: url("../assets/maxresdefault.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.airplane-image {
    position: relative;
    bottom: 50px;
}

.container {
    background-color: lightgray;
}
